<h1>FORM</h1>

<form method="POST" action="/new">
  <div class="full-name">
    <label for="name">Full Name</label>
    <input type="text" name="name" placeholder="Example: Ronald Kawasaki" />
  </div>
  <div class="text">
    <label for="text"> message</label>
    <input type="text" name="text" placeholder="Your message here..." />
  </div>
  <button type="submit">Submit</button>
</form>
