body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.message-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.message-content {
  color: blue;
}
